@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-sec: rgb(57, 162, 219);
    --color-main: rgb(5, 55, 66);
    --color-main-gradiant: rgb(7, 79, 95);
    --color-theme: #ff4747;
    --color-bg: rgb(232, 240, 242);
    --color-bg-input: white;

    --input-transition-width-duration: 0.1s;
    --input-transition-height-duration: 0.1s;

    --input-transition-in-top-delay: 0s;
    --input-transition-in-right-delay: 0.1s;
    --input-transition-in-bottom-delay: 0.2s;
    --input-transition-in-left-delay: 0.3s;

    --input-transition-out-top-delay: 0.3s;
    --input-transition-out-right-delay: 0.2s;
    --input-transition-out-bottom-delay: 0.1s;
    --input-transition-out-left-delay: 0s;

    /* slider vars */
    /* --slider-container-width: 100%;
    --slider-container-height: 200px;
    --slider-item-width: 100%; */
    --slider-container-width: 100%;
    --slider-container-height: 230px;
    --slider-item-width: 100%;
    
}

.dark {
    --color-main: rgb(29,31,31);
    --color-main-gradiant: rgb(34,34,45);
    --color-sec: rgb(34,34,45);
    --color-theme: rgb(37, 99, 235);
    --color-bg: rgb(226,226,233);
    --color-bg-input: rgb(226,226,233);
}
@media (min-width: 767px) {
    :root {
        --slider-item-width: 350px;
        --slider-container-height: 230px;
    }
}
@media (min-width: 992px) {
    :root {
        --slider-item-width: 296px;
        --slider-container-height: 230px;
    }
}
@media (min-width: 1200px) {
    :root {
        --slider-item-width: 360px;
        --slider-container-height: 200px;
    }
}
@media (min-width: 1400px) {
    :root {
        --slider-item-width: 390px;
        --slider-container-height: 200px;
    }
}
.textarea {
    --input-transition-width-duration: 0.2s;
    --input-transition-height-duration: 0.1s;

    --input-transition-in-top-delay: 0s;
    --input-transition-in-right-delay: 0.2s;
    --input-transition-in-bottom-delay: 0.3s;
    --input-transition-in-left-delay: 0.5s;

    --input-transition-out-top-delay: 0.5s;
    --input-transition-out-right-delay: 0.3s;
    --input-transition-out-bottom-delay: 0.1s;
    --input-transition-out-left-delay: 0s;
}

#__next {
    @apply h-full;
    @apply overflow-x-hidden;
        
}



h1 {
    @apply text-5xl-sm;
    @apply font-bold;
}

h2 {
    @apply text-4xl-sm;
    @apply font-bold;
}
h3 {
    @apply text-3xl-sm;
    @apply font-semibold;
}

a {
    @apply text-blue-600;
    @apply transition-colors;
    @apply duration-100;
}

a:hover {
    @apply text-blue-400;
}

@media (min-width: 500px) {
    h1 {
        @apply text-5xl-500;
        @apply font-bold;
    }

    h2 {
        @apply text-4xl-500;
        @apply font-bold;
    }
    h3 {
        @apply text-3xl-500;
        @apply font-semibold;
    }
}
@media (min-width: 992px) {
    h1 {
        @apply text-5xl-992;
        @apply font-bold;
    }

    h2 {
        @apply text-4xl-992;
        @apply font-bold;
    }
    h3 {
        @apply text-3xl-992;
        @apply font-semibold;
    }
}

@media (min-width: 1200px) {
    h1 {
        @apply text-5xl;
        @apply font-bold;
        line-height: 1.3;
    }

    h2 {
        @apply text-4xl;
        @apply font-bold;
        line-height: 1.3;
    }
    h3 {
        @apply text-3xl;
        @apply font-semibold;
        line-height: 1.3;
    }
}

.container {
    @apply w-auto;
    @apply max-w-full;
    @apply ml-3;
    @apply mr-3;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 723px;
        @apply ml-auto;
        @apply mr-auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 933px;
        @apply ml-auto;
        @apply mr-auto;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1127px;
        @apply ml-auto;
        @apply mr-auto;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        width: 1227px;
        @apply ml-auto;
        @apply mr-auto;
    }
}

/*
 * Created on Wed Jul 07 2021
 *
 * Copyright (c) 2021 AFzal Saiyed
 */
