.main-container {
    width: 400px;
    padding: 25px 0px 0px 0px;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .custom-input {
        position: relative;
        width: 100%;
    
        .main-input {
            width: 100%;
            background-color: white;
            border: none;
            padding: 12px;
            border-radius: 4px;
            font-size: 16px;
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: none;
            font-family: Poppins;
            border: 0px solid black;
            
        }
        .custom-input__placeholder {
            position: absolute;
            left: 14px;
            top: -3px;
            font-size: 18px;
            font-family: Poppins;
            transform: translate(0, 0);
            font-weight: 400;
            color: rgba(87, 87, 87, 0.945);
            transition: 0.4s transform ease-in-out, color 0.4s ease-in-out, font-size 0.4s ease, font-w;
            text-transform: uppercase;  
            padding: 0 5px;
        }
        .custom-border {
            width: 100%;
            height: 48px;
            position: absolute;
            left: 0;
            border-radius: 4px;
            cursor: text;
        }
    
        .custom-border::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            top: 0;
            right: 0;
            border-radius: 4px;
            border-top: 2px solid var(--color-sec);
            border-right: 2px solid var(--color-sec);
            transform: translateX(-110%);
            transition: transform var(--input-transition-width-duration) 0.4s linear, height var(--input-transition-height-duration) 0.3s linear;
            
            
           
            
        }
        .custom-border::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            bottom: 0;
            left: 0;
            border-radius: 4px;
            border-bottom: 2px solid var(--color-sec);
            border-left: 2px solid var(--color-sec);
            transform: translateX(110%);
            transition: transform var(--input-transition-width-duration) 0.1s linear, height var(--input-transition-height-duration) linear;
            
           
           
        }
    
        .main-input:focus + .custom-input__placeholder {
            transform: translate(-14px, -35px);
            color: rgb(5, 55, 66);
            font-size: 14px;
            font-weight: 600;
            
        }
        .main-input:focus ~ .custom-border::before {
            transition: transform var(--input-transition-width-duration) linear, height var(--input-transition-height-duration) 0.1s linear;
            transform: translateX(0%);
            height: 100%;
            
        }
        .main-input:focus ~ .custom-border::after {
            transform: translateX(0%);
            height: 100%;
            transition: transform var(--input-transition-width-duration) 0.2s linear, height var(--input-transition-height-duration) 0.3s linear;    
        }
    }

}

