.theme-switcher__container {
    height: 38px !important;
    width: 76px !important;

    .main-switch {
        margin: 2px 4px;
        // transition: background 0.3s ease-in-out;
        // display: inline-block;
        // text-align: center;
        // line-height: 30px;
    }
    .dark-icon {
        margin-top: 1px;
        margin-right: 6px;
    }
}
